@charset "UTF-8";
body, h1, h3, li {
    font-family: "ff-meta-serif-web-pro";
}
body {
    background-color: #FFFFF6;
}
.container {
    margin-top:100px;
}
img {
    width:100%;
    -moz-box-shadow: 0 0 15px -5px #777;
    -webkit-box-shadow: 0 0 15px -5px#777;
    box-shadow: 0 0 15px -5px #777;
}
/* generic styles and full size grid */
.underline-on-hover {
    text-decoration: none;
}
.underline-on-hover:hover {
    text-decoration: underline;
}
li:not(:first-child):before {
    content:'•';
    margin: 0 7px;
    color: #666;
}
li {
    list-style: none;
}

h1.name {
    margin:15px 0 0 10px;
    font-size: 30px;
}
h3 {
    color:#333;
    font-size:22px;
}
.links {
    margin: 20px 0 0 10px;
}
.links li, nav li {
    display:inline-block;
    font-size: 20px;
    line-height: 28px;
}
#sidebar hr {
    margin: 20px 0;
}

/* post list */
.posts {
    margin:0;
    padding:0;
    list-style:none;
}
.posts li {
    border-top:1px solid #ccccce;
    padding: 7px 0 1px;
    margin:0;
}
.posts li:before {
    content:none;
    margin:0;
}
.posts li:last-child {
    border-bottom:1px solid #ccccce;
}
.posts .title {
    float:left;
}
.posts .date {
    float:right;
    margin-top:7px;
}

/* post view */
.post h1 {
    font-size:36px;
}
.post time {
    font-size:16px;
}
.post p {
    font-size:18px;
    line-height:150%;
}
.post cite {
    font-size:18px;
    padding-bottom: 50px;
}
.post .content hr {
    border-color: #f4f4f4;
}

/* resume */
#resume {
    margin-left:20px;
}
#resume li, #resume p {
    font-size:18px;
    line-height:150%;
}
#resume li > p {
    display: inline-block;
    margin-bottom: 4px;
}
#resume > ul > li {
    margin-bottom: 15px;
}
#resume h2 {
    font-size:30px;
    margin-bottom: 10px;
}

/* smaller than that */
@media only screen and (max-width: 959px) {
    h3 {
        margin-top: 16px;
    }
    .links {
        margin-top: 25px;
    }
    .links li {
        display: block;
    }
    .links li:after {
        content:'';
    }
    .links li:before {
        content: '•';
        margin-right: 13px;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        margin-top: 45px;
    }
}
