<!DOCTYPE html>
<html>
<head>
    {% if page.title and page.title != 'Home' %}
        <title>{{ page.title }} - Jacob Haslehurst</title>
    {% else %}
        <title>Jacob Haslehurst</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">

    <!-- typekit -->
    <script type="text/javascript" src="//use.typekit.net/rjs0jch.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- google analytics -->
    <script type="text/javascript">
        var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-26678951-7"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
    </script>

</head>
<body>
    <section class="container">
        <div class="four columns alpha">
            <a href="/">
                <img src="/assets/images/portrait.jpg" alt='Jacob'>
            </a>
            <h1 class="name"><a class="underline-on-hover" href="/">Jacob Haslehurst</a></h1>
            <h3>Web Developer, Photographer</h3>
            <hr>
            <nav>
                {% for weight in (1..100) %}
                    {% for page in site.pages %}
                        {% if page.weight == weight %}
                            <li><a class='underline-on-hover' href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </nav>
            <hr>
            <ul class="links">
                <li><a class='underline-on-hover' href="mailto:jacob@haslehurst.net">Email</a></li>
                <li><a class='underline-on-hover' href="http://www.twitter.com/hzy_">Twitter</a></li>
                <li><a class='underline-on-hover' href="http://github.com/hzy-">GitHub</a></li>
                <li><a class='underline-on-hover' href="http://flickr.com/photos/jhaslehurst">Flickr</a></li>
                <li><a class='underline-on-hover' href="http://blog.haslehurst.net">Tumblr</a></li>
            </ul>
        </div>
        <div class="twelve columns omega">
            {{ content }}
        </div>
    </section>
</body>
</html>
